header {
  height: 250px;
  margin: 0 auto;
  background: url("home_header_bg.jpg") no-repeat center;
  background-size: cover;
  border-bottom: 4px solid $salmon-red;
  @include vert-parent();

  .back-arrow {
    cursor: pointer;
  }

  &.no-results {
    position: relative;

    em {
      display: none;
    }
  }

  &.active-results {
    position: fixed;
    top: 0;
    max-width: 1200px;
    width: 100%;
    z-index: 1;
    height: 45px;
    background-color: $gray-bg;
    background-image: none;

    h1, h2 {
      display: none;
    }

    em {
      display: block;
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: #FFF;
      background: url("green-back-arrow.png") no-repeat left;
      background-size: contain;

      &.desktop {
        padding-left: 35px;
      }

      &.mobile {
        display: none;
      }
    }
  }

  h1, h2 {
    text-align: center;
    color: #FFF;
    @include horz-align(absolute);
    @include vert-align(absolute);
  }

  h1 {
    font-size: 8em;
    font-family: 'WWE-Heading';
  }

  h2 {
    font-size: 1.75em;
    margin-top: 65px;
    font-family: 'WWE-Sans', sans-serif;
  }
}

// 991 px Break Point
// ---------------------------------------

@media (max-width: 991px) {
  header {

    h1 {
      font-size: 4.25em;
    }

    h2 {
      margin-top: 45px;
      font-size: 1.25em;
    }
  }
}

// Newer Gen Smart Phones Media Queries
//-----------------------------------------

@media (max-width: 481px) {
  header {
    height: 150px;

    h1 {
      font-size: 3em;
    }

    h2 {
      margin-top: 20px;
      font-size: .9em;
    }
    h1, h2 {
      transform: translateY(-65%);
    }
  }
}

// Older Gen Smart Phones Media Queries
//-----------------------------------------

@media (max-width: 320px) {
  header {
    h1 {
      font-size: 2.75em;
    }
    h1, h2 {
      transform: translateY(-80%);
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: $gray-bg;

  h2 {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #fec264;
  }
}


