.occasion-section {
  position: relative;
  height: auto;
  background-color: #FFF;
  border-bottom: 5px solid $salmon-red;

  &.active-results {
    margin-top: 256px;
  }

  .ribbon {
    line-height: 20px;
    height: 75px;
    width: 155px;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    background: url("salmon_ribbon.png") no-repeat center;
    background-size: contain;
  }

  //.budget-container {
  //  font-size: 1.5em;
  //  text-align: center;
  //  margin: 35px 0;
  //
  //  .budget-range {
  //    display: inline-block;
  //    margin: 0 7px;
  //    padding-top: 5px;
  //    background-color: #494949;
  //    @include border-radius(10px);
  //    border: 3px solid #FFF;
  //
  //    &.selected {
  //      border: 3px solid $salmon-red;
  //      background-color: #494949;
  //    }
  //  }
  //}

  .occasion-container {
    padding: 75px 0;
  }

  .occasion {
    cursor: pointer;
    width: 33%;
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.5em;
    color: $gray-bg;
    line-height: 50px;


    .occasion-sprites {
      margin: 0 auto;
    }
  }

  @media (max-width: 481px) {

    &.active-results {
      margin-top: 154px;
    }

    .ribbon, .occasion {
      font-size: 1em;
    }

    .occasion-container {
      padding: 15px 0;
    }
  }
}
