.overlay-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(#000, 0.8);
  overflow: auto;

  h4 {
    color: #FFF;
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    text-align: center;

    @media (max-width: 481px) {
      top: 225px;
    }
  }

  .spinner-container {
    display: none;
  }

  .results-container {
    display: none;
  }

  .location-container{
    display: none;
  }

  &.spinner {
    .spinner-container {
      display: block;
    }
  }

  &.results {
    .results-container {
      display: block;
    }
  }

  &.no-location {
    background-color: rgba(#000, 0.6);
    .location-container {
      display: block;
    }
  }
}

.results-container {
  text-align: center;

  section {
    padding: 50px 0;

    img {
      padding-bottom: 10px;
      margin: 0 auto;
      display: block;
    }

    h2 {
      font-size: 1.5em;
      color: $salmon-red;
      font-weight: 500;
    }

    em {
      color: $salmon-red;
    }

    h3 {
      display: block;
      margin-top: 5px;
      font-size: 1.25em;
      color: #FFF;
    }

    h5 {
      color: #3bb1f9;
    }

    a {

    }
  }
}

@media (max-width: 481px) {
  .results-container {
    section {

      h2 {
        font-size: 1.35em;
      }

      a {
        font-size: 1em;
      }

      h5 {
        font-size: .85em;
      }
    }
  }
}