.overlay-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(#000, 0.8);
  overflow: auto;

  h4 {
    color: #FFF;
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    text-align: center;

    @media (max-width: 481px) {
      top: 225px;
    }
  }

  .spinner-container {
    display: none;
  }

  .results-container {
    display: none;
  }

  .location-container{
    display: none;
  }

  &.spinner {
    .spinner-container {
      display: block;
    }
  }

  &.results {
    .results-container {
      display: block;
    }
  }

  &.no-location {
    background-color: rgba(#000, 0.6);
    .location-container {
      display: block;
    }
  }
}

.results-container {

  .back-arrow {
    position: fixed;
    left: 10px;
    height: 45px;
    cursor: pointer;

    em {
      color: #FFF;
      background: url("green-back-arrow.png") no-repeat left;
      background-size: contain;

      &.desktop {
        padding-left: 35px;
      }

      &.mobile {
       padding-left: 25px;
      }
    }

  }

  section {
    text-align: center;
    padding: 50px 0;


    img {
      padding-bottom: 10px;
      margin: 0 auto;
      display: block;
      color: #FFF;
    }

    h2 {
      font-size: 1.5em;
      margin-bottom: 0;
      color: $salmon-red;
      font-weight: 500;
    }

    em {
      color: $salmon-red;
    }

    h3 {
      display: block;
      margin: 0;
      font-size: 1.25em;
      color: #FFF;
    }

    h5 {
      margin-top: 5px;
      margin-bottom: 0;
      color: #3bb1f9;
    }

    .mobile-phone {
      display: none;
    }

    .desktop-phone {
      display: inline-block;
      padding-right: 25px;
      padding-top: 25px;

      h5 {
        display: inline-block;
        margin-top: 0;
        color: #2ecc71;
      }
    }
  }
}

@media (max-width: 481px) {
  .results-container {
    section {

      h2 {
        font-size: 1.35em;
      }

      a {
        font-size: 1em;
      }

      h5 {
        font-size: .85em;
      }

      .mobile-phone {
        padding-top: 25px;
        padding-right: 25px;
        display: inline-block;
      }

      .desktop-phone {
        display: none;
      }
    }
  }
}