.occasion-sprites {
  background-image: url(occasions-spritesheet-x128.png);
  background-repeat: no-repeat;
  display: block;

  &.ramen {
    width: 128px;
    height: 128px;
    background-position: -2px -2px;
  }

  &.breakfast {
    width: 128px;
    height: 128px;
    background-position: -134px -2px;
  }

  &.dessert {
    width: 128px;
    height: 128px;
    background-position: -266px -2px;
  }

  &.dinner {
    width: 128px;
    height: 128px;
    background-position: -2px -134px;
  }

  &.drinks {
    width: 128px;
    height: 128px;
    background-position: -134px -134px;
  }

  &.ice-cream {
    width: 128px;
    height: 128px;
    background-position: -266px -134px;
  }

  &.lunch {
    width: 128px;
    height: 128px;
    background-position: -2px -266px;
  }

  &.pizza {
    width: 128px;
    height: 128px;
    background-position: -134px -266px;
  }

  &.sushi {
    width: 128px;
    height: 128px;
    background-position: -399px -3px;
  }

  @media (max-width: 481px) {
    background-image: url(occasions-spritesheet-x64.png);
    background-repeat: no-repeat;
    display: block;


    &.ramen {
      width: 64px;
      height: 64px;
      background-position: -3px -3px;
    }

    &.breakfast {
      width: 64px;
      height: 64px;
      background-position: -73px -3px;
    }

    &.dessert {
      width: 64px;
      height: 64px;
      background-position: -143px -3px;
    }

    &.dinner {
      width: 64px;
      height: 64px;
      background-position: -3px -73px;
    }

    &.drinks {
      width: 64px;
      height: 64px;
      background-position: -73px -73px;
    }

    &.ice-cream {
      width: 64px;
      height: 64px;
      background-position: -143px -73px;
    }

    &.lunch {
      width: 64px;
      height: 64px;
      background-position: -3px -143px;
    }

    &.pizza {
      width: 64px;
      height: 64px;
      background-position: -73px -143px;
    }

    &.sushi {
      width: 64px;
      height: 64px;
      background-position: -143px -143px;
    }
  }
}

.dollar-sprites {
  background-image: url(dollars-spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;

  &.dollar{
    width: 32px;
    height: 32px;
    background-position: -26px -2px;
  }

  @media (max-width: 481px) {

    &.dollar{
      width: 20px;
      height: 20px;
      background-position: -2px -2px;
    }
  }
}
