// Site-Specific Variables
//
// @link https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
// -----------------------------------------------------------------------------

$base-font: Monaco, Verdana, Helvetica, sans-serif;

$font-family-monospace: $base-font;
$font-family-sans-serif: $base-font;
$font-size-base: 13px;

$body-bg: #F4F4F4;

$blockquote-font-size: $font-size-base;

// Colors
// ---------------------------------------
$salmon-red: #f34949;
$gray-bg: #353535;
