// Local & 3rd Party Includes
// -----------------------------------------------------------------------------
@import "_variables";
@import "_vendor";
@import "../fonts/fonts";
@import "_mixins";
@import "components/animations";

// App Components
// ---------------------------------------
@import "components/sprites";
@import "components/flex";
@import "components/home_header";
@import "components/occasion_selection";
@import "components/overlay";



// Global Styles
// ---------------------------------------

body {
  position: relative;
  background-color: #353535;
  font-family: 'WWE-Sans', sans-serif;

  .wwe-container {
    margin: 0 auto;
    max-width: 1200px;
  }
}

a {
  outline: 0;

  &:hover {
    outline: 0;
  }

  &:active {
    outline: 0;
  }

  &:focus {
    outline: 0;
  }
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

