// Local & 3rd Party Includes
// -----------------------------------------------------------------------------
@import "_variables";
@import "_vendor";
@import "../fonts/fonts";
@import "_mixins";
@import "components/animations";

// App Components
// ---------------------------------------
@import "components/sprites";
@import "components/flex";
@import "components/home_header";
@import "components/occasion_selection";



// Global Styles
// ---------------------------------------

body {
  position: relative;
  background-color: #353535;

  .wwg-container {
    margin: 0 auto;
    max-width: 1200px;
  }
}

  a {
    outline: 0;

    &:hover {
      outline: 0;
    }

    &:active {
      outline: 0;
    }

    &:focus {
      outline: 0;
    }
  }

